
/*

body {
    background-color: #020c1b;
    color: #ccd6f6;
    margin: 0;
    padding: 0;
}


/* 
other colors

slate: #8892b0; 
green: #64ffda;


*/






@tailwind base;
@tailwind components;
@tailwind utilities;